* {
    font-family: "Helvetica", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F4F5F7;
}

section {
    position: relative;
}

/* Sidebar & Navbar */
.header {
    display: flex;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.header-items {
    display: flex;
    flex-wrap: inherit;
    justify-content: space-between;
    position: relative;
    width: calc(100% - 7.875rem);
    left: 6.25rem;
    right: 1.625rem;
}

.header-content {
    display: flex;
}

.d-flex {
    padding: 1.063rem 1.063rem;
}

.form-control,
.form-select {
    width: 10.875rem;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 12px;
    border-radius: 3px;
}

.form-control:focus,
.form-select:focus {
    box-shadow: none;
}

.button-search {
    display: flex;
    color: #0D28A6;
    font-weight: bold;
    font-size: 14px;
    background-color: white;
    border: 1px solid #0D28A6;
    border-radius: 3px;
    padding: .5rem .75rem;
}

.button-search:hover {
    color: white;
    background-color: #0D28A6;
}

.icon-profile {
    display: inline-block;
}

.icon-profile p {
    display: inline-block;
    font-weight: bold;
    width: 38px;
    height: 38px;
    background-color: #CFD4ED;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    margin: 0 .5rem;
}

.nav-link {
    font-size: 14px;
}

.nav-link i {
    margin-left: .5rem;
    font-size: 18px;
    font-weight: bold;
}

.dropdown-item {
    font-size: 14px;
}

.dropdown-item i {
    font-size: 18px;
    margin-right: .5rem;
}

.sidebar {
    align-items: center;
    height: 100%;
    position: fixed;
    z-index: 1;
    background-color: #0D28A6;
    overflow-x: hidden;
}

.logo-square {
    width: 37px;
    height: 34px;
    background-color: #CFD4ED;
    margin: 1.125rem;
}

.sidebar a {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    color: white;
    
}

.sidebar span {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 12px;
    margin-bottom: .625rem;
}

.sidebar .btn-active {
    background-color: rgba(255, 255, 255, 0.300);
}

.btn-hamburger i {
    display: inline-flex;
    font-size: 24px;
    cursor: pointer;
    margin: 1.5rem 0;
}

.sidebar-bgr {
    position: fixed;
    height: 100%;
    width: 0;
    left: 73px;
    background: white;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 1;
}

.sidebar-bgr button {
    text-decoration: none;
    text-align: left;
    width: 13.75rem;
    font-size: 14px;
    font-weight: bold;
    color: #151515;
    background-color: unset;
    border: unset;
    transition: 0.3s;
    padding: .688rem 3rem .688rem 1.5rem;
    margin-top: .5rem;
}

.sidebar-bgr button.title {
    color: #8A8A8A;
}

.sidebar-bgr button.active {
    background-color: #CFD4ED;
}

#main {
    transition: margin-left .5s;
}

.logo-square-lg {
    display: inline-block;
    width: 100px;
    height: 34px;
    background-color: #CFD4ED;
    margin: 1.125rem 1.5rem;
}

.dropdown {
    display: flex;
    list-style-type: none;
    padding: 1rem 0;
}


/* Main Content */
.section-content {
    position: absolute;
    width: calc(100% - 7.875rem);
    left: 6.25rem;
    right: 1.625rem;
    margin: auto;
    padding-top: 2rem;
}

.section-content p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.breadcrumb-item a {
    font-weight: bold;
    text-decoration: none;  
    color: black;
}

.breadcrumb-item {
    font-size: 12px;
}

.dashboard-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard-title p {
    margin: unset;
}

.btn-add-car {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: white;
    background-color: #0D28A6;
    border: 1px solid #0D28A6;
    border-radius: 3px;
    padding: .5rem .75rem;
}

.btn-add-car i {
    margin-right: .75rem;
    font-size: 18px;
}

.btn-filter-container {
    margin: 1.25rem 0;
}

.btn-filter {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #AEB7E1;
    background-color: white;
    border: 1px solid #AEB7E1;
    border-radius: 3px;
    padding: .5rem .75rem;
    margin-right: 1rem;
}

.btn-filter:last-child {
    margin-right: unset;
}

.btn-filter:hover {
    color: #0D28A6;
    background-color: #CFD4ED;
    border: 1px solid #0D28A6;
}

.btn-filter.active {
    color: #0D28A6;
    background-color: #CFD4ED;
    border: 1px solid #0D28A6;
}

.list-card-container {
    display: flex;
    flex-wrap: wrap;
}

.list-col {
    width: 33.33333333%;
    padding: 0 .75rem 1.5rem .75rem;
}

.list-car-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.list-card-content p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: .5rem;
}

.list-card-content strong {
    font-size: 16px;
}

.list-card-content i {
    padding-right: .5rem;
}

.button-card {
    display: flex;
    margin-top: 1.5rem;
    justify-content: space-between;
}

.btn-col {
    width: 47.5%;
}

.btn-card-delete {
    font-size: 14px;
    font-weight: bold;
    color: #FA2C5A;
    background-color: white;
    border: 1px solid #FA2C5A;
    border-radius: 3px;
    width: 100%;
    padding: .5rem .75rem;
}

.btn-card-edit {
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #5CB85F;
    border: 1px solid #5CB85F;
    border-radius: 3px;
    width: 100%;
    padding: .5rem .75rem;
}

.modal-content {
    border-radius: 4px;
    border: unset;
    width: 75%;
    margin: auto;
    padding: 1.5rem 2rem;
}

.modal-confirm .modal-header {
    border-bottom: none;
    position: relative;
    padding: unset;
}

.modal-confirm img {
    align-items: center;
    margin: auto;
    padding-bottom: 1.5rem;
}

.modal-confirm h4 {
    color: black;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin: auto;
    padding-bottom: .75rem;
}

.modal-confirm .modal-body {
    font-size: 14px;
    color: black;
    text-align: center;
    padding: unset;
    line-height: unset;
}

.modal-confirm .modal-body p {
    font-family: 'IBM Plex Sans', sans-serif;
}

.modal-confirm .modal-footer {
    border: none;
    text-align: center;
    border-radius: 5px;
    font-size: 13px;
    padding: unset;
}

.btn-yes {
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #0D28A6;
    border: unset;
    border-radius: 3px;
    width: 5.438rem;
    padding: .5rem .75rem;
    margin: unset;
    margin-right: .5rem;
}

.btn-no {
    font-size: 14px;
    font-weight: bold;
    color: #0D28A6;
    background-color: white;
    border: 1px solid #0D28A6;
    border-radius: 3px;
    width: 5.438rem;
    padding: .5rem .75rem;
    margin: unset;
    margin-left: .5rem;
}

.btn-yes:hover {
    background-color: #001261;
}

.btn-no:hover {
    background-color: #0d29a64f;
}

.form-container {
    display: flex;
    background-color: white;
    border-radius: 3px;
    padding: 1rem;
    margin: 1rem 0;
}

.form-content {
    display: inline-block;
}

.col-form-label {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 12px;
}

.required:after {
    content: " *";
    color: red;
}

.form-dimension {
    width: 21.188rem;
    padding: .5rem .75rem;
}

::placeholder {
    font-family: 'Rubik', sans-serif;
    font-size: 12px;
    color: #8A8A8A;
}

.col-sm-2 {
    width: 37.1%;
}

.col-sm-10 {
    width: 62.9%;
}

.label-file {
    font-family: 'Rubik', sans-serif;
    font-size: 10px;
    font-weight: 300;
    color: #8A8A8A;
}

.form-button {
    display: flex;
    align-items: flex-end;
}

.btn-cancel {
    font-size: 14px;
    font-weight: bold;
    color: #0D28A6;
    background-color: white;
    border: 1px solid #0D28A6;
    border-radius: 3px;
    padding: .5rem .75rem;
    margin-right: 1.063rem;
}

.btn-save {
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #0D28A6;
    border: 1px solid #0D28A6;
    border-radius: 3px;
    padding: .5rem .75rem;
}

.footer-content {
    display: flex;
    position: relative;
    justify-content: flex-end;
    margin: unset;
}

.footer-content p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    font-weight: lighter;
    margin: unset;
    padding: 1rem 0;
}

/* Log In Content */
.signin-container {
    display: flex;
    background-color: white;
}

.signin-container img {
    width: 65.1%;
    height: 100vh;
}

.signin-content {
    align-items: center;
    width: 27.5%;
    margin: auto;
}

.signin-content h4 {
    font-size: 24px;
    font-weight: bold;
    margin: 2rem 0;
}

.signin-content form {
    display: flex;
    flex-direction: column;
}

.logo-signin {
    display: inline-block;
    width: 6.25rem;
    height: 2.125rem;
    background-color: #CFD4ED;
}

.form-signin {
    width: 100%;
    margin-bottom: 1rem;
}

.form-label {
    font-size: 14px;
    margin-bottom: .563rem;
}

.btn-signin {
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #0D28A6;
    border: 1px solid #0D28A6;
    border-radius: 3px;
    padding: .5rem .75rem;
    margin-top: 1rem;
}